<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>Nom de l'application qui se trouve dans les titres des pages</description>
        <param-name>appName</param-name>
        <param-value>YaCE! Yet Another Collection Engine</param-value>
    </context-param>
    <servlet>
        <servlet-name>ServletRegister</servlet-name>
        <servlet-class>net.yace.web.servlets.ServletRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>net.yace.web.servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDisplayDetails</servlet-name>
        <servlet-class>net.yace.web.servlets.ServletDisplayDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>net.yace.web.servlets.ServletLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRegister</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDisplayDetails</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1800</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <description>Header and footer settings</description>
            <display-name>Includes</display-name>
            <url-pattern>/WEB-INF/view/admin/*</url-pattern>
            <url-pattern>/WEB-INF/view/user/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>Index</description>
            <display-name>Presentation</display-name>
            <url-pattern>/index.jsp</url-pattern>
        </jsp-property-group>
    </jsp-config>
    <resource-ref>
        <description>Connexion à la DB</description>
        <res-ref-name>Yacedb</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
