.main {
	margin: 0 auto;
	width: auto;
	max-width: 1000px;
	min-width: 780px;
}
/**
 * ->>>>>>>>>>->>>>>>>>>>->>>>>>>>>> GENERAL <<<<<<<<<
 */
body{
}

/**
 * ->>>>>>>>>>->>>>>>>>>>->>>>>>>>>> EN TETE <<<<<<<<<
 */
header[role="welcome"]{
	margin: 2em auto;
	text-align: center;
}

	header[role="welcome"] aside{
		font-size: 2em;
	}

	/**
	 * Nom du site
	 */
	#logo a{ text-decoration: none; }

/**
 * ->>>>>>>>>>->>>>>>>>>>->>>>>>>>>> Formulaires <<<<<<<<<
 */
input{
	width: 100%;
	font-size: 1.3em;
}

input[role="captcha"]{
	width: 40%;
	float: right;
}

#calcul{
	width: 60%;
	float: left;
	font-size: 1.5em;
	text-align: center;
	margin-top: 3px;
	overflow: hidden;
}
