.main {
	margin: 0 auto;
	width: auto;
	max-width: 1000px;
	min-width: 780px;
}
/**
 * ->>>>>>>>>>->>>>>>>>>>->>>>>>>>>> GENERAL <<<<<<<<<
 */
body{
}

/**
 * ->>>>>>>>>>->>>>>>>>>>->>>>>>>>>> EN TETE <<<<<<<<<
 */
header[role="welcome"]{
	margin: 2em auto;
	text-align: center;
}

	header[role="welcome"] aside{
		font-size: 2em;
	}

	/**
	 * Nom du site
	 */
	#logo a{ text-decoration: none; }

/**
 * ->>>>>>>>>>->>>>>>>>>>->>>>>>>>>> Formulaires <<<<<<<<<
 */
input{
	width: 100%;
	font-size: 1.3em;
}

input[role="captcha"]{
	width: 40%;
	float: right;
}

#calcul{
	width: 60%;
	float: left;
	font-size: 1.5em;
	text-align: center;
	margin-top: 3px;
	overflow: hidden;
}

/**
 * ->>>>>>>>>>->>>>>>>>>>->>>>>>>>>> CORPS <<<<<<<<<
 */
/**
 * Visite guidée
 */
#tour{
	margin: 0 auto;
	width: auto;
	max-width: 1000px;
	min-width: 780px;
	padding: 1em;

	border-radius: 15px;
	background-color: #6cf;
	color: #fff;
}

	header[role="tour"]{
		margin: 0 0 22px 15px;
		font-size: 2em;
		text-shadow: 2px 2px 0px #333;
	}

	aside[role="signin"]{
		float: right;
		text-align: center;
		width: 21%;
		text-shadow: 2px 2px 0px #333;
	}

		aside[role="signin"] form {
			margin-bottom: 1em;
		}

		aside[role="signin"] output{
			float: right;
			width: 90%;
			margin-right: 3px;
		}

	footer[role="tour"]{
		width: 77%;
	}

	/**
	 * Contrôles diapo
	 */
	#prev{
		background-image: url('./img/icon/prev_24g.png');
		width: 24px;
		height: 24px;
	}

	#pause{
		background-image: url('./img/icon/pause_24g.png');
		width: 24px;
		height: 24px;
	}

	#play{
		background-image: url('./img/icon/play_24g.png');
		width: 24px;
		height: 24px;
	}

	#next{
		background-image: url('./img/icon/next_24g.png');
		width: 24px;
		height: 24px;
	}

	#prev:hover{
		background-image: url('./img/icon/prev_24.png');
		width: 24px;
		height: 24px;
	}

	#pause:hover{
		background-image: url('./img/icon/pause_24.png');
		width: 24px;
		height: 24px;
	}

	#play:hover{
		background-image: url('./img/icon/play_24.png');
		width: 24px;
		height: 24px;
	}

	#next:hover{
		background-image: url('./img/icon/next_24.png');
		width: 24px;
		height: 24px;
	}

/**
 * DIAPORAMA
 */
#slideshow {
	width:75%;
	height: 26em;
	margin:1em;
	margin-bottom: 2em;
	border-radius: 6px;
}

	nav[role="slideremote"]{
		text-align: center;
		line-height: 24px;
		margin-top: 12px;
	}

	#slideshow > * { position:relative; left:0; top:0; }

	.slide {
		height:14.7em;
		overflow:hidden;
		padding: 18px 60px 33px;
		background: #fff;
		font-size: 1.5em;
		color: #000;
		border-radius: 6px;
		box-shadow: 4px 4px 4px #003;
		text-align: justify;
	}

		.slide h1{
			color: #339;
			font-size: 2em;
			font-variant: small-caps;
			padding: 25px 0;
			text-align: center;
			text-shadow: 2px 2px 2px #99f;
		}

		.slide h1:first-letter{
			font-size: 1.5em;
		}